extends ./layout/index

block contenido 
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus fugit, aspernatur in non architecto illo! Facilis soluta consequatur rerum provident a dolore, accusantium accusamus debitis veritatis voluptate dolorum inventore neque, tenetur quo sed quia vero eligendi saepe repudiandae? Natus, saepe pariatur! Vel, deleniti non repudiandae unde numquam pariatur.

                p velit libero aperiam culpa ipsum assumenda? Possimus, facilis temporibus delectus provident eaque accusamus nemo? Maiores deleniti non officia placeat inventore eum adipisci eius iste. Quasi natus aspernatur, maiores architecto doloremque aliquam eius minus. Fugit, iure dolorum inventore, beatae exercitationem animi repellendus officia reiciendis, magni recusandae repudiandae. Quos a et quisquam pariatur.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsam ad nam minima nobis pariatur nemo magnam. Quibusdam, provident facilis ipsa a alias labore, fugit ipsam magni blanditiis ducimus laborum magnam nesciunt harum ad ullam ea est hic molestias. Nam ex ad, impedit ipsa aliquid ea nobis velit illum! Quia.

    .listado-iconos     
        .container.mt-5.py-5.text-center        
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque eveniet maiores. Dolore quisquam officiis quasi vitae praesentium unde delectus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque eveniet maiores. Dolore quisquam officiis quasi vitae praesentium unde delectus. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque eveniet maiores. Dolore quisquam officiis quasi vitae praesentium unde delectus. 
    